/* Containers */
.container-150 {
  max-width: 153rem;
  margin: 0 auto;
  padding: 0 1rem;
}
.container-140 {
  max-width: 142rem;
  margin: 0 auto;
  padding: 0 1rem;
}
.container-120 {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3rem;
}
.cursor-pointer {
  cursor: pointer;
}
.outline-none:focus {
  outline: none;
}

/* Flex */
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
/* Grid */
.grid {
  display: grid;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--2-cols\(25\,75\) {
  grid-template-columns: 25fr 75fr;
}
.gap\(3\.6rem\) {
  gap: 3.6rem;
}
.gap\(3\.2rem\) {
  gap: 3.2rem;
}
.gap\(4\.8rem\) {
  gap: 4.8rem;
}
.gap\(2\.4rem\) {
  gap: 2.4rem;
}
.gap\(10\.6rem\) {
  gap: 10.6rem;
}
.gap-0 {
  gap: 0;
}

/* Alignment */
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.align-start {
  align-items: start;
}
.space-between {
  justify-content: space-between;
}
.text-center {
  text-align: center;
}

/* Widths */
.w-full {
  width: 100%;
}
.w-90 {
  width: 90%;
}
.w-70 {
  width: 70%;
}
.w-1\/4 {
  width: 25%;
}
.max-width\(1280\) {
  max-width: 1280px;
}
.size-full {
  width: 100%;
  height: 100%;
}

/* Heights */
.h-auto {
  height: auto;
}
.h-395px {
  height: 395px;
}
.h-fill {
  height: -webkit-fill-available;
}
.h-0 {
  height: 0;
}

.pointer-events {
  pointer-events: none;
}

/* Margins */
.mx-auto {
  margin: auto; /*centering*/
}

.margin-bottom {
  margin-bottom: 9.6rem;
}
.margin-right {
  margin-right: 1rem;
}
.margin-bottom\(8rem\) {
  margin-bottom: 8rem;
}

.mb-4\.8rem {
  margin-bottom: 4.8rem;
}
.mt-20 {
  margin-top: 5rem;
}
.mb-10rem {
  margin-bottom: 10rem;
}
.margin-block {
  margin-block: auto;
}
.padding-bottom\[12\] {
  padding-bottom: 12rem;
}

/* ________________________________ */

.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}

.rounded-18 {
  border-radius: 18px;
}
.btn-border {
  border-radius: 999px;
}

/* Absolute Positioning */
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.top-0 {
  top: 0;
}
.left-0 {
  left: 0;
}
.bottom-0 {
  bottom: 0;
}
.right-0 {
  right: 0;
}

.z-index\[9999\] {
  z-index: 9999;
}
.top-\[100\] {
  height: calc(55vh + 100px);
  min-height: 500px;
  width: 100%;
  top: -100px;
}
.top-\[50px\] {
  top: 50px;
  right: 70%;
  /* right: 990px; */
}
.bottom-\[50px\] {
  top: 260px;
  left: 160px;
}
.top-\[10px\] {
  right: 60px;
  top: 10px;
}

/* Font Sizes */
.font-size\(3\.2rem\) {
  font-size: 3.2rem;
}
.font-size\(3\.6rem\) {
  font-size: 3.6rem;
}
.font-weight\(400\) {
  font-weight: 400;
}
.overflow-hidden {
  overflow: hidden;
}

.hidden-modal {
  display: none;
}
.hidden--1 {
  opacity: 0;
  pointer-events: none;
  visibility: none;
}
.d-none {
  display: none;
}
.d-block {
  display: block;
}

.object-cover {
  object-fit: cover;
}

.object-contain {
  object-fit: contain;
}
.aspect-ratio\(5\/6\) {
  aspect-ratio: 5 / 6;
}

.font-size\(3\.2rem\) {
  font-size: 3.2rem;
}
.letter-spacing\(0\.02em\) {
  letter-spacing: 0.02em;
}
.line-height\(1\.5\) {
  line-height: 1.5;
}
