* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  /* COLORS */

  --color-default-1: hsla(0, 0%, 100%, 0.15);

  --color-surface-0: #0f0f0f;
  --color-surface-1: #1c1c1c;
  --color-surface-2: #303030;
  --color-surface-3: #3b3b3b;
  --color-surface-4: #424242;

  --color-surface-foreground-0: #f7f7f7;
  --color-surface-foreground-1: #e6e6e6;
  --color-surface-foreground-2: #c7c7c7;
  --color-surface-foreground-3: #b0b0b0;
  --color-surface-foreground-4: #b0b0b0;
  --color-surface-foreground-5: #b0b0b080;

  --color-alert-information: #1f418e;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: 'Inter', sans-serif;
  color: var(--color-surface-foreground-0);
  background: var(--color-surface-0);
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--color-surface-foreground-0);
  cursor: pointer;
}
button {
  background: none;
  border: none;
  color: var(--color-surface-foreground-0);
  cursor: pointer;
}
.header {
  width: 100%;
  height: auto;
}

.header-box {
  justify-content: space-between;
  padding: 1.25rem 0;
}
.hdr-nav {
  gap: 3.6rem;
  padding: 0 1.2rem;
}

.logo-box {
  width: 100px;
}
.logo {
  min-width: 130%;
  height: 30px;
}

.btn_nav {
  padding: 1.2rem 1.2rem;
}
.btn_nav,
.cta-nav:link,
.cta-nav:visited {
  font-size: 1.6rem;
  font-weight: 400;
  transition: all 0.1s ease-in-out;
}
.nav-link:hover,
.nav-link:active,
.cta-nav:hover,
.cta-nav:active {
  color: var(--color-surface-foreground-4);
}
.modal {
  background-color: var(--color-surface-4);
  padding: 6rem;
  gap: 4.8rem;
  /* related to h-0 div */
  top: 0;
  left: 0;
}
.modal_1 {
  transform: translate(0px, 44px);
}
.modal_2 {
  transform: translate(50px, 44px);
  background-color: #064501;
}
.modal_3 {
  transform: translate(100px, 44px);
  background-color: #1f418e;
}
.modal-elements {
  gap: 2rem;
}
.modal-link {
  cursor: pointer;
}

.search-box {
  max-width: 550px;
}
.search-form {
  gap: 1rem;
  border-radius: 999px;
  background: var(--color-surface-2);
}
.search-icon {
  display: inline-block;
  font-size: 16px;
  color: var(--color-surface-foreground-0);
  padding-left: 2.2rem;
  padding-right: 1.2rem;
}
.search-bar {
  background: var(--color-surface-2);
  color: var(--color-surface-foreground-0);
  font-weight: 500;
  width: 480px;
  font-size: 1.5rem;
  height: 40px;
  border: none;
  padding: 18px 0;
}

/* SECTION HERO */

.section-hero {
  padding: 8rem 6.4rem 3rem;
}
.heading-box {
  padding: 3.2rem 12rem;
}

.hero-sale-alert {
  padding: 0.8rem 2rem;
  background-color: #000;
  border-radius: 999px;
  border: 1px solid var(--color-surface-4);
}
.hero-sale-link:link,
.hero-sale-link:visited {
  gap: 0.6rem;
  font-size: 1.4rem;
  font-weight: 500;
}
.hero-sale-link .off-50 {
  border-radius: 999px;
  padding: 0.5rem 1rem;
  background: var(--color-alert-information);
  font-size: 1.2rem;
  font-weight: 600;
}

h1 {
  font-size: 4.8rem;
  font-weight: 400;
  letter-spacing: 1px;
}
.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  color: hsla(0, 0%, 100%, 0.5);
}
.hero-cta:link,
.hero-cta:visited {
  background: var(--color-surface-foreground-0);
  color: var(--color-surface-0);
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 999px;
  padding: 1rem 1.4rem;
  gap: 0.5rem;
}
.rarr {
  width: 18px;
  transform: translateX(-1px);
  transition: transform 0.2s ease-out;
}
.hero-cta:hover .rarr {
  transform: translateX(3px);
}
.vid-box {
  height: 820px;
}
.main-video {
  /* transition: all 0.00001s ease; */
  will-change: width;
}

.hero-img-0 {
  width: 300px;
  will-change: transform, opacity;
}
.hero-img-1 {
  width: 150px;
  will-change: transform, opacity;
}
.hero-img-2 {
  width: 270px;
  will-change: transform, opacity;
}

.featured-box {
  gap: 6.4rem;
}

.featured-heading,
.featured-text {
  color: #777;
  /* font-size: 3.5rem; */
  font-weight: 400;
  letter-spacing: 0.8px;
}
.featured-heading {
  letter-spacing: -0.14em;
}

.featured-text {
  line-height: 1.5;
}

.animated-letter {
  color: #777;
  padding-right: 2.2px; /* solving Safari issue */
}
.padding-rigth\[0\] {
  padding-right: 0; /* space between words */
}

.featured-imgs-box {
  justify-content: center;
  gap: 9.6rem;
}

.featured-imgs {
  width: 120px;
}

/* GALLERY SECTION */
.gallery-tab {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.gallery-tab.visible {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.gallery-tab.hidden {
  display: none;
}

.gallery-ai-btn:link,
.gallery-ai-btn:visited {
  font-size: 1.2rem;
  border: 1px solid var(--color-surface-foreground-5);
  padding: 0.6rem 1.6rem;

  transition: all 0.2s ease-in-out;
}
.gallery-ai-btn:hover,
.gallery-ai-btn:active {
  background: var(--color-default-1);
}
.gallery-nav {
  gap: 2.4rem;
  list-style: none;
}
.gallery-nav-btn {
  color: var(--color-surface-foreground-3);
  font-size: 2rem;
  letter-spacing: 0.5px;
  padding: 1.4rem 2.8rem;
  border: none;
  background: none;
  border-radius: 9999px;
  cursor: pointer;
  /* transition: all 0.1s ease-in-out; */
}
.gallery-nav-btn:hover {
  color: inherit;
  background: hsla(0, 0%, 100%, 0.1);
}
/* TODO: with js */
.btn\(clicked\) {
  color: inherit;
  background: hsla(0, 0%, 100%, 0.1);
}
.all-tools-btn {
  gap: 8px;
}
.rarr-\(all-tools\) {
  width: 20px;
  fill: var(--color-surface-foreground-0);
  opacity: 0;
  transform: translateX(-2px);
  transition: all 0.2s ease;
}
.all-tools-btn:hover .rarr-\(all-tools\) {
  opacity: 1;
  transform: translateX(1px);
}
.sticky--nav {
  position: sticky;
  top: 3.2rem;
}
/* img grid */
.gallery-imgs {
  z-index: -1;
}
.gallery-img-text {
  font-size: 2rem;
  padding: 2rem;
}

.gallery-img-btn {
  background: #000;
  padding: 10px 12px;
  font-size: 14px;
  font-weight: 600;
  gap: 1.2rem;
  bottom: 25px;
  left: 25px;
  /* display: none; */

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: all 0.2s ease;
}
.gallery-img-btn--info {
  padding: 8px 7px 4px 8px;
  border-radius: 50%;

  bottom: 25px;
  left: 280px;
}

.gallery-img-btn span {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}
.info-icon {
  font-size: 24px;
  color: #fff;
}

.gallery-vid {
  display: none;
  will-change: display;
}
.gallery-vid_block {
  display: block;
}

.overlay-img {
  opacity: 0;
}
.gallery-img-box:hover .gallery-img-btn {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.gallery-img-box:hover .gallery-img-btn span {
  transform: translateX(2px);
}
/* .gallery-img-box:hover .gallery-vid {
  display: block;
} */

.gallery-img-box:hover .overlay-img {
  opacity: 1;
}

/* ________________________________ BLOCK START: */
.section--aimodels {
  padding-bottom: 50rem;
  opacity: 0;
  transform: translateY(100px);
  transition: all 1s ease;
}
.section-heading {
  font-size: 3.2rem;
  font-weight: 400;
  max-width: 90rem;
  margin: auto; /* centring */
  margin-bottom: 4rem;
  line-height: 1.5;
  letter-spacing: 1px;
}
.logos-slider-container {
  max-width: 1280px;
  pointer-events: none;
}
.logos-slider-container::before {
  content: '';
  width: 10rem;
  height: 100%;
  position: absolute;
  z-index: 1; /* cuz its 'before' */
  inset: 0;
  background: linear-gradient(to right, #000, #0f0f0f00);
}
.logos-slider-container::after {
  content: '';
  width: 10rem;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(to left, #000, #0f0f0f00);
}
.ai-image {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.ai-image.visible {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.ai-image.hidden {
  display: none;
}

.ai-model-logos-box {
  gap: 6.4rem;
}
.ai-model-logo {
  width: 125px;
  height: 24px;
}
.nav--features {
  gap: 4.8rem;
}
.nav--features li button {
  font-size: 2rem;
}
.features-gallery-box {
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}

/* Section */
.hello {
  opacity: 0.5;
  writing-mode: vertical-rl;
  transition: opacity 0.8s ease;
}
.hello:hover {
  opacity: 1;
}
/* 
-------------------------------------**** DESIGN INGREDIANTS ****-------------------------------------

--- 01 TYPOGRAPHY SYSTEM
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Defualt 

- Line heights
Default: 1



--- 02 COLORS

- Primary: 

- Tints: 


- Shades: 


- Accents: 

- Greys:  


--- 03 IMAGES (PROVIDED)
--- 04 ICONS (PROVIDED)

--- 05 SHADOWS



--- 06 BORDER RADUIS
Default: 

--- 07 WHITESPACE
- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* 
transitions duration 

*/
